body {
    color: #000305;
    font-size: 87.5%;
    font-family: arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    margin: 0 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #0279A1;
}

a:hover,
a:active {
    background-color: #0279A1;
    color: #FFF;
}

.container {
    
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader {
        background:
        linear-gradient(
            rgba(0, 0, 0, 0.0), 
            rgba(0, 0, 0, 0.0)
        ),
        url('../images/code.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.mainHeader img {
    margin: 40px 0;
}

#hpart1 img {
    max-width: 174px;
    width: 100%;
    height: auto;
}

#hpart2 img {
    max-width: 555px;
    width: 100%;
    height: auto;
}

.mainHeader nav {
    background-color: #005E7D;
    height: 40px;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.mainHeader nav a:link,
.mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
    background-color: #0279A1;
    text-shadow: none;
}

.mainHeader nav ul li a {}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    width: 70%;
    float: left;
}

.loginWrapper {
    overflow: hidden;
    height: 0;
    max-height: 0;
}

.open {
    height: 225px;
    max-height: 225px;
    -webkit-transition: max-height 200ms ease-in;
    -moz-transition: max-height 200ms ease-in;
    -o-transition: max-height 200ms ease-in;
    transition: max-height 200ms ease-in;
}

.loginContent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin: 15px 0;
}

.form-group input {
    width: 96%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 2%;
}

.form-group label {
    font-weight: bold;
    padding: 4% 0%;
}

.btn {
    margin: 2% 0%;
}

.topContent {
    background-color: #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 15px;
}

.bottomContent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.top-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 15px 0 2% 3%;
    padding: 2% 3%;
}

.middle-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.bottom-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.footer {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #111;
}

.footer p {
    width: 92%;
    margin: 10px auto;
    color: #FFF;
}

.phonehidden {

}

@media only screen and (min-width: 600px) and (max-width: 1060px) {
    .phonehidden {
        height: 0;
        width: 0;
    }
    .mainHeader img {
        margin: 20px auto;
        display: auto;
    }
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
    .container {
        width: 90%;
        font-size: 95%;
    }
    .navcontainer {
        width: 100%;
        font-weight: bold;
    }
    .phonehidden {
        height: 0;
    }
    .mainHeader img {
        width: 100%;
        margin: 10px auto;
    }
    .mainHeader nav {
        height: 120px;
        /* each nav item 40px */
    }
    .mainHeader nav ul {
        padding-left: 0;
    }
    .mainHeader nav ul li {
        width: 100%;
        text-align: center;
    }
    .mainHeader nav ul li a {
    }
    .mainHeader nav a:link,
    .mainHeader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
    .mainContent {
        line-height: 28px;
    }
    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }
    .topContent {
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .bottomContent {
        margin-top: 3%;
    }
    .post-info {
        display: none;
    }
    .top-sidebar,
    .middle-sidebar,
    .bottom-sidebar {
        width: 94%;
        margin: 2% 0 2% 0%;
        padding: 2% 3%;
    }
    .top-sidebar {
        margin-top: 5%;
    }
}